@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
$font-stack: 'Lato', sans-serif;
$color-dark: #242333;

* {
  box-sizing: border-box;
}

body {
  background-color: $color-dark;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: $font-stack;
  margin: 0;
}

.movie-container {
  margin: 20px 0;

  select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
}
